{% extends 'layout.html' %}
{% block body %}
    <main class="flex flex-col max-w-md mx-auto p-8 space-y-4">
        <div class="text-center">
            <h1 class="text-6xl text-amber-400 font-bold title">EL POPA</h1>
            <h1 class="text-xl text-white">Barra de Snacks</h1>
        </div>
        <h1 class="text-center text-4xl text-amber-400 font-bold title">EDITAR VENTA</h1>
        <!--<img src="/static/Imagenes/{{ paquete[0]["image"] }}" height="300" alt=" "/>-->
        <form action="/editado/" class="flex flex-col space-y-4">
            <input type="hidden" name="id" value="{{ paquete[0]["id"] }}" required/>
            <input type="hidden" name="name" value="{{ paquete[0]["name"] }}" required/>
            <input type="hidden" name="image" value="{{ paquete[0]["image"] }}" required/>
            <input type="hidden" name="price" value="{{ paquete[0]["price"] }}" required/>
            <div class="flex flex-col space-y-2">
                <label for="cel">Número de teléfono</label>
                <input type="number" id="cel" name="cel" min="0" required
                       value="{{ paquete[0]["num"] }}"
                       class="p-2 rounded-xl bg-stone-900 outline-none focus:outline-amber-400 transition-all duration-300">
            </div>
            <div class="flex flex-col space-y-2">
                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha" placeholder="Fecha" value="{{ paquete[0]["date"] }}" required
                       class="p-2 rounded-xl bg-stone-900 outline-none focus:outline-amber-400 transition-all duration-300">
            </div>
            <div class="flex flex-col space-y-2">
                <label for="ciudad">Ciudad</label>
                <input type="text" id="ciudad" name="ciudad" value="{{ paquete[0]["ciudad"] }}" required
                       class="p-2 rounded-xl bg-stone-900 outline-none focus:outline-amber-400 transition-all duration-300">
            </div>
            <div class="flex flex-col space-y-2">
                <label for="colonia">Colonia</label>
                <input type="text" id="colonia" name="colonia" value="{{ paquete[0]["colonia"] }}" required
                       class="p-2 rounded-xl bg-stone-900 outline-none focus:outline-amber-400 transition-all duration-300">
            </div>
            <div class="flex flex-col space-y-2">
                <label for="calle">Calle</label>
                <input type="text" id="calle" name="calle" placeholder="Calle" value="{{ paquete[0]["calle"] }}"
                       required
                       class="p-2 rounded-xl bg-stone-900 outline-none focus:outline-amber-400 transition-all duration-300">
            </div>
            <div class="flex flex-col space-y-2">
                <label for="ncasa">Número de casa </label>
                <input type="number" id="ncasa" name="ncasa" min="0" required
                       value="{{ paquete[0]["ncasa"] }}"
                       class="p-2 rounded-xl bg-stone-900 outline-none focus:outline-amber-400 transition-all duration-300">
            </div>
            <div class="grid gap-4 grid-cols-1 sm:grid-cols-2">
                <button type="submit" formaction="/cancelar/"
                        class="p-2 bg-[#392607] hover:bg-[#422C08] active:bg-[#332206] text-center rounded-xl transition-all duration-300">
                    Cancelar
                </button>
                <button type="submit"
                        class="p-2 bg-amber-400 hover:bg-[#FFDC29] active:bg-[#E2AC20] text-black font-bold rounded-xl transition-all duration-300">
                    Reservar
                </button>
            </div>
        </form>
    </main>
{% endblock %}