<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>El Popa - Barra de Snacks</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap" rel="stylesheet">
    <style>
        .title {
            font-family: 'Sen', sans-serif;
        }
    </style>
</head>
<body class="bg-stone-950 text-white">
{% block body %}
{% endblock %}
</body>
</html>